.box1 {
  float: left;
  height: 90px;
  width: 20%;
  margin: 7px;
  border-style: solid;
  border-width: 1px;
  background-color: yellow;
}

.box2 {
  float: right;
  height: 90px;
  width: 77.8%;
  margin: 7px;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(255, 104, 49);
}

.box3 {
  float: left;
  height: 500px;
  width: 20%;
  margin: 7px;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(171, 226, 128);
}

.box4 {
  float: right;
  height: 500px;
  width: 20%;
  margin: 7px;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(40, 201, 255);
}

.box5 {
  float: right;
  height: 500px;
  width: 56.7%;
  margin: 7px;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
}

.box6 {
  float: left;
  height: 90px;
  width: 99%;
  margin: 7px;
  border-style: solid;
  border-width: 1px;
  background-color: blue;
}
